.tariffwrapper {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  max-width: 1200px;
  border-color: black;
}
.card{
    width: 25%;
    height: 600px;
    border: 2px black;
  }
  
.card-price{
  font-size: large;
  border: 2px black;
}

.card-text{
    font-size: smaller;
    border: 2px black;
  }

.first{
background-color: blue;
}
.second{
background-color: green;
}
.third{
background-color: red;
  }
.fourth{
background-color: grey;
    }

